<section id="header">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <!-- <a class="navbar-brand"> <img class="header-logo img-fluid" src="../../../../assets/images/myimages/logo.png" alt=""></a> -->
            <a class="navbar-brand">STEMAZE Consultency</a>
            <form class="d-flex">
                <button class="login-btn"  [routerLink]="['/pages/authentication/login-v2']">Login/Sigup</button>
            </form>
        </div>
    </nav>
</section>