<section id="session">
    <div class="container">
        <div class="session-heading">
            <h1>Choose Your Appointment Duration</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card black plan">
                    <div class="card-body p-4">
                        <div class="session-ctn">
                            <h5>30 Minutes</h5>
                            <h2>₹299/session</h2>
                            <p>Personalized guidance - Career advice - Skill assessment</p>
                        </div>
                        <button class="login-btn">Choose</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card black plan">
                    <div class="card-body p-4">
                        <div class="session-ctn">
                            <h5>30 Minutes</h5>
                            <h2>₹299/session</h2>
                            <p>Personalized guidance - Career advice - Skill assessment</p>
                        </div>
                        <button class="login-btn">Choose</button>
                    </div>
                </div>
            </div>
           
            <div class="col-md-4">
                <div class="card black plan">
                    <div class="card-body p-4">
                        <div class="session-ctn">
                            <h5>30 Minutes</h5>
                            <h2>₹299/session</h2>
                            <p>Personalized guidance - Career advice - Skill assessment</p>
                        </div>
                        <button class="login-btn">Choose</button>
                    </div>
                </div>
            </div>
            
        </div>  

    </div>
</section>




<!-- FOOTER -->
<section id="footer">
    <div class="foot">
        <footer class="container-fluid">
            <div class="footer-section left p-0 m-0">
                <ul class="m-0">
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

            <div class="footer-section center">
                <ul class="m-0">
                    <li><a href="#"><img src="../../../../assets/images/myimages/Icon facebook.png" alt=""></a></li>
                    <li><a href="#"><img src="../../../../assets/images/myimages/Icon instagram.png" alt=""></a></li>
                    <li><a href="#"><img src="../../../../assets/images/myimages/Icon twitter.png" alt=""></a></li>
                </ul>
            </div>

            <div class="footer-section right">
                <div class="form-group ">
                    <select class="form-control" name="cars" id="cars">
                        <option hidden>English</option>
                        <option value="saab">Hindi</option>
                        <option value="opel">Marathi</option>
                        <option value="audi">Tamil</option>
                    </select>
                </div>
            </div>
        </footer>
    </div>
</section>