<section id="mission">
    <div class="container">
        <!-- <div class="card black plan"> -->
        <!-- <div class="card-body p-5"> -->
        <div class="mission-ctn text-center">

        </div>
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <div class="shape-img">
                    <img class="img-fluid" src="../../../../assets/images/myimages/mission.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="shape-ctn">
                    <h1>Our Mission</h1>
                    <p>Empowering students with tailored solutions for academic <br> success and career growth. Join us
                        to
                        unlock
                        your full potential today!</p>
                </div>
                <button class="login-btn">Contact us</button>
            </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->
    </div>
</section>



<section id="students">
    <div class="container-fluid">
        <div class="card black plan text-center">
            <div class="card-body p-5">
                <div class="shape-ctn">
                    <h1>How Can We Help Your Students</h1>
                    <p>At our organization, we are dedicated to guiding students towards a bright future by providing
                        personalized education consultancy and career guidance. We believe in making a positive impact
                        on students' lives, helping them excel in their academic and professional journeys. Our team
                        strives for excellence in every aspect of student support and development.</p>
                </div>
            </div>
        </div>
    </div>
</section>






<!-- shape section -->
<section id="shape">
    <div class="container">
        <!-- <div class="card black plan"> -->
        <!-- <div class="card-body p-5"> -->
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <div class="shape-ctn">
                    <h1>Let's Shape Our Future in a Secured Way! </h1>
                </div>
                <button class="login-btn">Contact us</button>
            </div>
            <div class="col-md-6">
                <div class="shape-img text-end">
                    <img src="../../../../assets/images/myimages/shape.png" alt="">
                </div>
            </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->
    </div>
</section>


