<section id="header">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <!-- <a class="navbar-brand"> <img class="header-logo img-fluid" src="../../../../assets/images/myimages/logo.png" alt=""></a> -->
            <a class="navbar-brand">STEMAZE Consultency</a>
            <form class="d-flex">
                <button class="login-btn">Login/Sigup</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="career-paragraph">
            <div class="tagline text-center p-0">
                <h1>Tag line will be there</h1>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <div class="service-column">
                        <div class="services-image">
                            <img cl src="../../../../assets/images/myimages/Image.png" alt="">
                        </div>
                        <div class="service-ctn">
                            <h3>Career Navigation</h3>
                            <p>Guidance and support for your career path
                            </p>
                        </div>
                        <button class="login-btn">Book Now</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="service-column">
                        <div class="services-image">
                            <img src="../../../../assets/images/myimages/Image (1).png" alt="">
                        </div>
                        <div class="service-ctn">
                            <h3>Research Guidance</h3>
                            <p>Expert guidance for your research endeavors
                            </p>
                        </div>
                        <button class="login-btn">Book Now</button>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="service-column">
                        <div class="services-image">
                            <img src="../../../../assets/images/myimages/Image (2).png" alt="">
                        </div>
                        <div class="service-ctn">
                            <h3>International Student Support</h3>
                            <p>Support services for international students
                            </p>
                        </div>
                        <button class="login-btn">Book Now</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="service-column">
                        <div class="services-image">
                            <img src="../../../../assets/images/myimages/Image (3).png" alt="">
                        </div>
                        <div class="service-ctn">
                            <h3>For the Organization</h3>
                            <p>Explore opportunities to study abroad
                            </p>
                        </div>
                        <button class="login-btn">Book Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- consultant section -->
<section id="consultant">
    <div class="container">
        <div class="card black plan">
            <div class="card-body p-5">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6">
                       <div class="first-column">
                        <div class="consultant-img">
                            <img src="../../../../assets/images/myimages/consultant.png" alt="">
                        </div>
                        
                       </div>
                    </div>
                    <div class="col-md-6">
                        <div class="c-ctn">
                            <h1>Consultant Name</h1>
                            <h5>Qualifications: Ph.D. in Education</h5>
                            <p>Expertise: Research, Career Guidance, Study Abroad</p>
                        </div>
                        <div class="consultant-ctn">
                            <p>Dr. Arindam Dey is an accomplished Immunologist with an entrepreneurial mindset and
                                robust project management skills. His contributions to various multidisciplinary EU and
                                industry-funded projects, ranging from oncology to autoimmunity, have left a significant
                                mark in both academic and industrial sectors. Over the past seven years, Dr. Dey has
                                specialized in establishing and optimizing high-throughput in vitro immunological
                                assays, crafting translational models, and achieving notable scientific milestones.
                                Embarking on his entrepreneurial journey adds a new dimension to his expertise and fuels
                                his passion for innovation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- inventory section -->
<section id="inventory">
    <div class="container-fluid">
        <div class="inventory-img text-center">
            <img src="../../../../assets/images/myimages/inventory.png" alt="">
            <button class="button-on-image login-btn">Visit our Inventory</button>
        </div>
    </div>
</section>


<!-- testimonial section -->
<section id="testimonial">
    <div class="container-fluid">
        <div class="testimonial-heading text-center">
            <h1>Testimonials</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card black plan">
                    <div class="card-body p-5">
                        <div class="testimonial-ctn">
                            <p>"I couldn't have made it without EducatePro's guidance. Highly recommended!"</p>
                        </div>
                        <div class="content">
                            <h5>Jane Doe</h5>
                            <p>Software Developer</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card black plan">
                    <div class="card-body p-5">
                        <div class="testimonial-ctn">
                            <p>"The team at EducatePro truly cares about your success. Thank you!"</p>
                        </div>
                        <div class="content">
                            <h5>John Smith</h5>
                            <p>Marketing Manager</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card black plan">
                    <div class="card-body p-5">
                        <div class="testimonial-ctn">
                            <p>"The team at EducatePro truly cares about your success. Thank you!"</p>
                        </div>
                        <div class="content">
                            <h5>John Smith</h5>
                            <p>Marketing Manager</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- /footer section -->
<section id="footer">
    <div class="foot">
        <footer class="container-fluid">
            <div class="footer-section left p-0 m-0">
                <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>
            </div>
          
            <div class="footer-section center">
                <ul>
                    <li><a href="#"><img src="../../../../assets/images/myimages/Icon facebook.png" alt=""></a></li>
                    <li><a href="#"><img src="../../../../assets/images/myimages/Icon instagram.png" alt=""></a></li>
                    <li><a href="#"><img src="../../../../assets/images/myimages/Icon twitter.png" alt=""></a></li>
                  </ul>
            </div>
          
            <div class="footer-section right">
                <div class="form-group ">
                    <select  class="form-control" name="cars" id="cars">
                      <option hidden >English</option>
                      <option value="saab">Hindi</option>
                      <option value="opel">Marathi</option>
                      <option value="audi">Tamil</option>
                    </select>
                </div>
            </div>
          </footer>          
    </div>
</section>