
<!-- images section in about section -->


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5 about-img">  <img src="../../../../assets/images/myimages/about.png" alt=""> </div>
                <div class="col-md-5 about-img">  <img src="../../../../assets/images/myimages/about1.png" alt=""> </div>
            </div>
        </div>
        <div class="col-md-6 mycss">
            <div class="row">
                <div class="col-md-5 about-img">  <img src="../../../../assets/images/myimages/about2.png" alt=""> </div>
                <div class="col-md-5 about-img">  <img src="../../../../assets/images/myimages/about3.png" alt=""> </div>
            </div>
           
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5 about-img">  <img src="../../../../assets/images/myimages/about4.png" alt=""> </div>
                <div class="col-md-5 about-img">  <img src="../../../../assets/images/myimages/about5.png" alt=""> </div>
            </div>
           
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5 about-img">  <img src="../../../../assets/images/myimages/about6.png" alt=""> </div>
                <div class="col-md-5  about-img">  <img src="../../../../assets/images/myimages/about7.png" alt=""> </div>
            </div>
           
        </div>
    </div>
    <button class="login-btn">Need help to prepare your documents?</button>
</div>



<!-- images scetoion -->
























<!-- footer section -->
<section id="footer">
    <div class="foot">
        <footer class="container-fluid">
            <div class="footer-section left p-0 m-0">
                <ul class="m-0">
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

            <div class="footer-section center">
                <ul class="m-0">
                    <li><a href="#"><img src="../../../../assets/images/myimages/Icon facebook.png" alt=""></a></li>
                    <li><a href="#"><img src="../../../../assets/images/myimages/Icon instagram.png" alt=""></a></li>
                    <li><a href="#"><img src="../../../../assets/images/myimages/Icon twitter.png" alt=""></a></li>
                </ul>
            </div>

            <div class="footer-section right">
                <div class="form-group ">
                    <select class="form-control" name="cars" id="cars">
                        <option hidden>English</option>
                        <option value="saab">Hindi</option>
                        <option value="opel">Marathi</option>
                        <option value="audi">Tamil</option>
                    </select>
                </div>
            </div>
        </footer>
    </div>
</section>



