<section id="header">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <!-- <a class="navbar-brand"> <img class="header-logo img-fluid" src="../../../../assets/images/myimages/logo.png" alt=""></a> -->
      <a class="navbar-brand">STEMAZE Consultency</a>
      <form class="d-flex">
        <button class="login-btn">Login/Sigup</button>
      </form>
    </div>
  </nav>
</section>

<!-- images section in about section -->

<!---->

<div class="container">

  <div class="row mt-4">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-6 mb-3">
                <img
                src="../../../../assets/images/myimages/about.png"
                class="img-fluid"
              />
            </div>
            <div class="col-md-6 mb-3">
                <img
                src="../../../../assets/images/myimages/about.png"
                class="img-fluid"
              />
            </div>
            <div class="col-md-6 mb-3">
                <img
                src="../../../../assets/images/myimages/about.png"
                class="img-fluid"
              />
            </div>
            <div class="col-md-6 mb-3">
                <img
                src="../../../../assets/images/myimages/about.png"
                class="img-fluid"
              />
            </div>
        </div>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-6 mb-3">
                <img
                src="../../../../assets/images/myimages/about.png"
                class="img-fluid"
              />
            </div>
            <div class="col-md-6 mb-3" >
                <img
                src="../../../../assets/images/myimages/about.png"
                class="img-fluid"
              />
            </div>
            <div class="col-md-6 mb-3">
                <img
                src="../../../../assets/images/myimages/about.png"
                class="img-fluid"
              />
            </div>
            <div class="col-md-6 mb-3">
                <img
                src="../../../../assets/images/myimages/about.png"
                class="img-fluid"
              />
            </div>
        </div>
    </div>
    <button class="login-btn aboutbtn">Need help to prepare your documents?</button>
  </div>


</div>



<!-- images scetoion -->

<!-- footer section -->
<section id="footer">
  <div class="foot">
    <footer class="container-fluid">
      <div class="footer-section left p-0 m-0">
        <ul class="m-0">
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

      <div class="footer-section center">
        <ul class="m-0">
          <li>
            <a href="#"
              ><img
                src="../../../../assets/images/myimages/Icon facebook.png"
                alt=""
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="../../../../assets/images/myimages/Icon instagram.png"
                alt=""
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="../../../../assets/images/myimages/Icon twitter.png"
                alt=""
            /></a>
          </li>
        </ul>
      </div>

      <div class="footer-section right">
        <div class="form-group">
          <select class="form-control" name="cars" id="cars">
            <option hidden>English</option>
            <option value="saab">Hindi</option>
            <option value="opel">Marathi</option>
            <option value="audi">Tamil</option>
          </select>
        </div>
      </div>

    </footer>
  </div>
</section>
